.App {
  position: relative;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.chat {
  border-radius: 10px;
  position: absolute;
  display: block;
  background-color: white;
  width: 50%;
  height: 80%;
}

.chat textarea {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 600px !important;
  height: 100px !important;
  resize: none;
}

.chat button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
}

.chat-messages {
  position: absolute;
  margin: 10px;
  width: calc(100% - 20px);
  height: 75%;
  border: 1px solid #282c34;
  border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
